@import './base.css';

body {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  overflow: hidden;
  color: var(--color-text-1);
  background: var(--color-bg-1);
  /*background-image: url('./wavy-lines.svg');*/
  background-size: cover;
  user-select: none;
}


#app {
  width: 100vw;
  height: 100vh;
  display: flex;
}





